<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" th:href="@{/css/style.css}">

<title th:text="${greatbuilding.name}">FOE GB Web Application</title>

</head>
<body class="text-bg-dark" th:onload="'showTab(' + ${tab} + ');'">
	<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
		<div class="container-fluid">
			<span class="navbar-brand">Stark FOE web app</span>
			<a class="btn btn-secondary bi bi-github" href="https://github.com/Stark91"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ages">Liste des ages</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/greatbuildings">Liste des GM</a>
					</li>
				</ul>
		    </div>
		</div>
	</nav>
	<div class="container special">
		<h2 class="h2" th:text="${greatbuilding.name}"> Nom </h2>
		<div class="nav nav-pills nav-fill">
			<a id="gb-nav-tab" class="stark-nav-tab nav-link text-bg-dark bi bi-building" th:href="@{/greatbuilding/{id}/gb(id=${greatbuilding.id})}"> Description </a>
			<a id="lvl-nav-tab" class="stark-nav-tab nav-link active bi bi-shield-fill-check" th:href="@{/greatbuilding/{id}/lvl(id=${greatbuilding.id})}"> Sécurisation du niveau </a>
			<a id="rush-nav-tab" class="stark-nav-tab nav-link text-bg-dark bi bi-shield-fill-plus" th:href="@{/greatbuilding/{id}/rush(id=${greatbuilding.id})}"> Rush sur plusieurs niveau </a>
		</div>
		<form class="d-flex flex-column justify-content-center align-items-center" method="post" th:object="${level}" th:action="@{/greatbuilding/{id}/lvl(id=${greatbuilding.id})}">
			<div class="input-group m-3 w-25">
				<input th:field="*{levelField}" type="number" min="1" class="form-control" placeholder="Niveau" aria-label="Niveau" aria-describedby="lvl-button-submit">
				<input class="btn btn-outline-secondary btn-dark" type="submit" id="lvl-button-submit" value="Valider">
			</div>
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th scope="col">Places</th>
						<th scope="col">Récompense base</th>
						<th scope="col">Récompense arche</th>
						<th scope="col">Taux arche</th>
						<th scope="col">Sécurisation</th>
						<th scope="col">Cumul sécurisation</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">P1</th>
						<td th:text="${reward.p1}">0</td>
						<td th:text="${boostedReward.p1}">0</td>
						<td>
							<div class="stark-arch-boost input-group">
								<input th:field="*{p1BoostField}" type="number" step="0.1" min="0" class="form-control" aria-label="Taux P1" id="p1-arch-boost-input" aria-describedby="p1-arch-boost" th:value="${level.p1BoostField}">
								<span class="input-group-text" id="p1-arch-boost">%</span>
							</div>
						</td>
						<td th:text="${fpToSecure[0]}">0</td>
						<td th:text="${fpToSecure[0]}">0</td>
					</tr>
					<tr>
						<th scope="row">P2</th>
						<td th:text="${reward.p2}">0</td>
						<td th:text="${boostedReward.p2}">0</td>
						<td>
							<div class="stark-arch-boost input-group">
								<input th:field="*{p2BoostField}" type="number" step="0.1" min="0" class="form-control" aria-label="Taux P1" id="p2-arch-boost-input" aria-describedby="p2-arch-boost" th:value="${level.p2BoostField}">
								<span class="input-group-text" id="p2-arch-boost">%</span>
							</div>
						</td>
						<td th:text="${fpToSecure[1]}">0</td>
						<td th:text="${fpToSecure[0]} + ${fpToSecure[1]}">0</td>
					</tr>
					<tr>
						<th scope="row">P3</th>
						<td th:text="${reward.p3}">0</td>
						<td th:text="${boostedReward.p3}">0</td>
						<td>
							<div class="stark-arch-boost input-group">
								<input th:field="*{p3BoostField}" type="number" step="0.1" min="0" class="form-control" aria-label="Taux P3" id="p3-arch-boost-input" aria-describedby="p3-arch-boost" th:value="${level.p3BoostField}">
								<span class="input-group-text" id="p3-arch-boost">%</span>
							</div>
						</td>
						<td th:text="${fpToSecure[2]}">0</td>
						<td th:text="${fpToSecure[0]} + ${fpToSecure[1]} + ${fpToSecure[2]}">0</td>
					</tr>
					<tr>
						<th scope="row">P4</th>
						<td th:text="${reward.p4}">0</td>
						<td th:text="${boostedReward.p4}">0</td>
						<td>
							<div class="stark-arch-boost input-group">
								<input th:field="*{p4BoostField}" type="number" step="0.1" min="0" class="form-control" aria-label="Taux P4" id="p4-arch-boost-input" aria-describedby="p4-arch-boost" th:value="${level.p4BoostField}">
								<span class="input-group-text" id="p4-arch-boost">%</span>
							</div>
						</td>
						<td th:text="${fpToSecure[3]}">0</td>
						<td th:text="${fpToSecure[0]} + ${fpToSecure[1]} + ${fpToSecure[2]} + ${fpToSecure[3]}">0</td>
					</tr>
					<tr>
						<th scope="row">P5</th>
						<td th:text="${reward.p5}">0</td>
						<td th:text="${boostedReward.p5}">0</td>
						<td>
							<div class="stark-arch-boost input-group">
								<input th:field="*{p5BoostField}" type="number" step="0.1" min="0" class="form-control" aria-label="Taux P5" id="p5-arch-boost-input" aria-describedby="p5-arch-boost" th:value="${level.p5BoostField}">
								<span class="input-group-text" id="p5-arch-boost">%</span>
							</div>
						</td>
						<td th:text="${fpToSecure[4]}">0</td>
						<td th:text="${fpToSecure[0]} + ${fpToSecure[1]} + ${fpToSecure[2]} + ${fpToSecure[3]} + ${fpToSecure[4]}">0</td>
					</tr>
				</tbody>
			</table>
			<span th:text="${lvlTotal}"></span>
		</form>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>